<div class="main">
  <button class="go-back-btn" onclick="goBack()">&#x2B9C;</button>
  <div class="pets-container">
    <div class="box-container">
      <div class="pet-form-wrapper">
        <div class="pet-form-container">
          <form class="pet-form" id="single-pet-form">
            <label class="single-pet-label" for="name">Name:
              <p class="single-pet-answers">{{pet.pet_name}}</p></label>
            <label class="single-pet-label" for="owner">Owner:
              <p class="single-pet-answers">{{pet.owner}}</p></label>
            <label class="single-pet-label" for="address">Address:
              <p class="single-pet-answers">{{pet.address}}</p></label>
            <label class="single-pet-label" for="care-level">Care Level:
              <p class="single-pet-answers">{{pet.care_level}}</p></label>
            <div class="radio-buttons-container">
            </div>
          </form>
          <div class="description-box">
            <label
              class="single-pet-label"
              for="description"
            >Description</label>
            <p
              class="single-pet-description"
              id="description"
              name="description"
              rows="15"
              style="resize: none"
            >{{pet.description}}</p>
          </div>
          <div id="upload-button">
            <img
              class="pet-profile-pic"
              src="/images/{{pet.image}}"
              alt="{{newPet.pet_name}} Image"
            />
          </div>
          <div id="pet-save-cancel-buttons">
            <button
              id="save-petbtn"
              class="pet-save-btn"
              onclick="redirectToEditPage()"
            >Edit Pet</button>
            <button id="cancel-petbtn" class="pet-cancel-btn">Delete Pet</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/redirects.js"></script>
<script src="/js/delete-pet.js"></script>