<div class="main">
  <button class="go-back-btn" onclick="goBack()">&#x2B9C;</button>
  <div class="pets-container">
    <div class="box-container">
      <div class="pet-form-wrapper">
        <div class="pet-form-container">
          <form class="pet-form">
            <label for="name">Name: {{pet.pet_name}}</label>
            <input type="text" id="name" name="name" />
            <label for="owner">Owner: {{pet.owner}}</label>
            <input type="text" id="owner" name="owner" />
            <label for="address">Address: {{pet.address}}</label>
            <input type="text" id="address" name="address" />
            <div class="radio-buttons-container">
              <div class="radio-button-label">
                <label for="care-level">Care Level: {{pet.care_level}}</label>
              </div>
              <label class="radio-button">
                <input type="radio" name="care-level" value="very low" />
                Very Low
              </label>
              <label class="radio-button">
                <input type="radio" name="care-level" value="low" />
                Low
              </label>
              <label class="radio-button">
                <input type="radio" name="care-level" value="medium" />
                Medium
              </label>
              <label class="radio-button">
                <input type="radio" name="care-level" value="high" />
                High
              </label>
              <label class="radio-button">
                <input type="radio" name="care-level" value="very high" />
                Very High
              </label>
            </div>
          </form>
          <div class="description-box">
            <label for="description">Description</label>
            <textarea
              id="description"
              name="description"
              rows="15"
              style="resize: none"
            >{{pet.description}}</textarea>
          </div>
          <div id="upload-button">
            <img
              class="pet-profile-pic"
              src="../public/images/pet1-profile-pic.jpg"
            />
          </div>
          <div id="pet-save-cancel-buttons">
            <button class="pet-save-btn">Edit Pet</button>
            <button class="pet-cancel-btn">Delete Pet</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../public/js/redirects.js"></script>