<div class="main">
  <button class="go-back-btn" onclick="goBack()">&#x2B9C;</button>
  <div class="pets-container">
    <div class="box-container">
      <div class="pet-form-wrapper">
        <div class="pet-form-container">
          <form class="pet-form">
            <label for="name">Name: {{pet.pet_name}}</label>
            <label for="owner">Owner: {{pet.owner}}</label>
            <label for="address">Address: {{pet.address}}</label>
            <div class="radio-buttons-container">
              <div class="radio-button-label">
                <label for="care-level">Care Level: {{pet.care_level}}</label>
              </div>
            </div>
          </form>
          <div class="description-box">
            <label for="description">Description</label>
            <p
              class="pet-description"
              id="description"
              name="description"
              rows="15"
              style="resize: none"
            >{{pet.description}}</p>
          </div>
          <div id="upload-button">
            <img
              class="pet-profile-pic"
              src="../public/images/pet1-profile-pic.jpg"
            />
          </div>
          <div id="pet-save-cancel-buttons">
            <button class="pet-save-btn">Edit Pet</button>
            <button class="pet-cancel-btn">Delete Pet</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/redirects.js"></script>